@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base { 
   html, body {
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
   }
}
